*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: whitesmoke
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem{ width: 50%;
}

.cabecalho-lista