*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: rgb(255, 255, 255)
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem{ width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 0 16px;
}

.imagem-escola{ 
    width: 35%;
}

.escola{
    background-image: linear-gradient(#ffffff,#857bec );
    color: #aaa8a8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.escola-div-conteudo{
    width: 45%;
}